{% extends "base.html" %}

{% block head %}
<title>Local Menu-Joyful Bites</title>

<link rel="stylesheet" href="#">

{% endblock head %}



{% block body %}

<div class="container-fluid local-menu">

    <div class="row justify-content-center align-items-center" style="background-color: rgb(0, 0, 0);opacity: 0.7;" >
        <div class="px-4 py-5 text-center">
            <div class="py-5">
                <div class="text-wrapper">
                            
                    <h1 class="text-center align-center display-2"><strong>Local<font color="#f23801"> Menu</strong></font></h1>
                    
                </div>

            </div>
        </div>
    </div>
    </div>



    <!--   /LOCAL MENU -->
    <div class="container marketing py-5 my-5">

        <h1 id="vujahday-script-regular">Party Tray</h1> 
    
        
    
    
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
    
              <div class="imgBox">
                <img src="static/cake.png" alt="mouse corsair" class="mouse">
              </div>
            
              <div class="contentBox">
                <h3>Mouse Corsair M65</h3>
                <h2 class="price">61.<small>98</small> €</h2>
                <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
              </div>
            
            </div>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-xl-4">
            <div class="card">
    
              <div class="imgBox">
                <img src="static/croissant.png" alt="mouse corsair" class="mouse">
              </div>
            
              <div class="contentBox">
                <h3>Mouse Corsair M65</h3>
                <h2 class="price">61.<small>98</small> €</h2>
                <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
              </div>
            
            </div>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-xl-4">
                  
            <div class="card">
    
              <div class="imgBox">
                <img src="static/waffle.png" alt="mouse corsair" class="mouse">
              </div>
            
              <div class="contentBox">
                <h3>Mouse Corsair M65</h3>
                <h2 class="price">61.<small>98</small> €</h2>
                <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
              </div>  
            </div>
          </div>
                <!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
  
  
      <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-xl-4">
          <div class="card">
  
            <div class="imgBox">
              <img src="static/mixed-cookie gift.png" alt="mouse corsair" class="mouse">
            </div>
          
            <div class="contentBox">
              <h3>Mouse Corsair M65</h3>
              <h2 class="price">61.<small>98</small> €</h2>
              <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
            </div>
          
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="card">
  
            <div class="imgBox">
              <img src="static/cheesecake.png" alt="mouse corsair" class="mouse">
            </div>
          
            <div class="contentBox">
              <h3>Mouse Corsair M65</h3>
              <h2 class="price">61.<small>98</small> €</h2>
              <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
            </div>
          
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <!-- The Code -->
          <div class="card">
  
            <div class="imgBox">
              <img src="static/colorful-tasty-donut.png" alt="mouse corsair" class="mouse">
            </div>
          
            <div class="contentBox">
              <h3>Mouse Corsair M65</h3>
              <h2 class="price">61.<small>98</small> €</h2>
              <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
            </div>
          
          </div>
        </div>
        <!-- /.col-lg-4 -->
      </div><!-- /.row -->


<!--Sugar Cookies-->

<div class="container marketing py-5 my-5">

    <h1 id="vujahday-script-regular">Cookies</h1> 

    


    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-xl-4">
        <div class="card">

          <div class="imgBox">
            <img src="static/cake.png" alt="mouse corsair" class="mouse">
          </div>
        
          <div class="contentBox">
            <h3>Mouse Corsair M65</h3>
            <h2 class="price">61.<small>98</small> €</h2>
            <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
          </div>
        
        </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-xl-4">
        <div class="card">

          <div class="imgBox">
            <img src="static/croissant.png" alt="mouse corsair" class="mouse">
          </div>
        
          <div class="contentBox">
            <h3>Mouse Corsair M65</h3>
            <h2 class="price">61.<small>98</small> €</h2>
            <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
          </div>
        
        </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-xl-4">
              
        <div class="card">

          <div class="imgBox">
            <img src="static/waffle.png" alt="mouse corsair" class="mouse">
          </div>
        
          <div class="contentBox">
            <h3>Mouse Corsair M65</h3>
            <h2 class="price">61.<small>98</small> €</h2>
            <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
          </div>  
        </div>
      </div>
            <!-- /.col-lg-4 -->
  </div><!-- /.row -->




  <!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-xl-4">
      <div class="card">

        <div class="imgBox">
          <img src="static/mixed-cookie gift.png" alt="mouse corsair" class="mouse">
        </div>
      
        <div class="contentBox">
          <h3>Mouse Corsair M65</h3>
          <h2 class="price">61.<small>98</small> €</h2>
          <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
        </div>
      
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-xl-4">
      <div class="card">

        <div class="imgBox">
          <img src="static/cheesecake.png" alt="mouse corsair" class="mouse">
        </div>
      
        <div class="contentBox">
          <h3>Mouse Corsair M65</h3>
          <h2 class="price">61.<small>98</small> €</h2>
          <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
        </div>
      
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-xl-4">
      <!-- The Code -->
      <div class="card">

        <div class="imgBox">
          <img src="static/colorful-tasty-donut.png" alt="mouse corsair" class="mouse">
        </div>
      
        <div class="contentBox">
          <h3>Mouse Corsair M65</h3>
          <h2 class="price">61.<small>98</small> €</h2>
          <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
        </div>
      
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!--Cheesecake sandwitch-->

  <div class="container marketing py-5 my-5">

    <h1 id="vujahday-script-regular">Sandwitches</h1> 

    


    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-xl-4">
        <div class="card">

          <div class="imgBox">
            <img src="static/cake.png" alt="mouse corsair" class="mouse">
          </div>
        
          <div class="contentBox">
            <h3>Mouse Corsair M65</h3>
            <h2 class="price">61.<small>98</small> €</h2>
            <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
          </div>
        
        </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-xl-4">
        <div class="card">

          <div class="imgBox">
            <img src="static/croissant.png" alt="mouse corsair" class="mouse">
          </div>
        
          <div class="contentBox">
            <h3>Mouse Corsair M65</h3>
            <h2 class="price">61.<small>98</small> €</h2>
            <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
          </div>
        
        </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-xl-4">
              
        <div class="card">

          <div class="imgBox">
            <img src="static/waffle.png" alt="mouse corsair" class="mouse">
          </div>
        
          <div class="contentBox">
            <h3>Mouse Corsair M65</h3>
            <h2 class="price">61.<small>98</small> €</h2>
            <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
          </div>  
        </div>
      </div>
            <!-- /.col-lg-4 -->
  </div><!-- /.row -->




  <!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-xl-4">
      <div class="card">

        <div class="imgBox">
          <img src="static/mixed-cookie gift.png" alt="mouse corsair" class="mouse">
        </div>
      
        <div class="contentBox">
          <h3>Mouse Corsair M65</h3>
          <h2 class="price">61.<small>98</small> €</h2>
          <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
        </div>
      
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-xl-4">
      <div class="card">

        <div class="imgBox">
          <img src="static/cheesecake.png" alt="mouse corsair" class="mouse">
        </div>
      
        <div class="contentBox">
          <h3>Mouse Corsair M65</h3>
          <h2 class="price">61.<small>98</small> €</h2>
          <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
        </div>
      
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-xl-4">
      <!-- The Code -->
      <div class="card">

        <div class="imgBox">
          <img src="static/colorful-tasty-donut.png" alt="mouse corsair" class="mouse">
        </div>
      
        <div class="contentBox">
          <h3>Mouse Corsair M65</h3>
          <h2 class="price">61.<small>98</small> €</h2>
          <a href="#" class="buy"><span class="material-icons md-dark">shopping_cart</span></a>
        </div>
      
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div><!-- /.row -->



{% endblock body %}