{% extends "base.html" %}

{% block head %}
<title>Our Story-Joyful Bites</title>

<link  rel="stylesheet" href="static/our_story.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% endblock head %}


{% block body %}


<div class="container-fluid our-story">

    <div class="row justify-content-center align-items-center" style="background-color: rgb(0, 0, 0);opacity: 0.7;" >
        <div class="px-4 py-5 text-center">
            <div class="py-5">
                <div class="text-wrapper">
                            
                    <h1 class="text-center align-center display-2"><strong>Our<font color="#f23801"> Story</strong></font></h1>
                    <p class="text-center align-center display-5"><em>"Our Story Begins with Serving You the Best”</em><br></p>
                    
                    
                </div>

            </div>
        </div>
    </div>
</div>



<div class="px-4 pt-5 my-5 text-center">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">In a world where every dessert tells a story, Joyful Bites stands out as a chapter of delight and health. Our story unfolds with a promise to serve desserts that are not just indulgent but also nurturing to the spirit. We believe in the power of good food to connect people, and our cherished customers are the protagonists of our narrative.</p>
    
  </div>

    <div class="container px-5">
      <img src="static/shop exterior.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
</div>


<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/bakery.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Our Desserts</h1>
      <p class="lead">A Healthy Indulgence: Our menu is a celebration of flavors, each dessert crafted to perfection with a focus on health and happiness. From the decadent to the light and airy, our offerings are a testament to our unwavering commitment to quality. We source premium ingredients to guarantee that every bite is a wholesome journey of taste.
      </p>    
    </div>
  </div>
</div>


<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6 pt-5">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Our Service Philosophy</h1>
      <p class="lead">Service at Joyful Bites goes beyond the counter; it’s an experience. Our staff are trained to be attentive, responsive, and genuinely caring. They are adept at understanding our customers’ needs, ensuring that each visit is tailored to provide a memorable and joyful experience.Expanding Our Reach: Joyful Bites has proudly opened branches in 
        Karachi, Islamabad, and Lahore, bringing our signature desserts to Pakistan’s vibrant cities. Our vision is expansive, with aspirations to open more branches and share the Joyful Bites experience with every city in Pakistan.
      </p>    
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/waiter-serving.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>



<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/our-promise.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Our Promise</h1>
      <p class="lead">As Joyful Bites grows, we pledge to uphold the exceptional standards of quality and service that our customers have come to love. We are excited about the future, as we continue to spread joy, one bite at a time.

      </p>    
    </div>
  </div>
</div>


<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6 pt-5">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Our Service Philosophy</h1>
      <p class="lead">Service at Joyful Bites goes beyond the counter; it’s an experience. Our staff are trained to be attentive, responsive, and genuinely caring. They are adept at understanding our customers’ needs, ensuring that each visit is tailored to provide a memorable and joyful experience.Expanding Our Reach: Joyful Bites has proudly opened branches in Karachi, Islamabad, and Lahore, bringing our signature desserts to Pakistan’s vibrant cities. Our vision is expansive, with aspirations to open more branches and share the Joyful Bites experience with every city in Pakistan.
      </p>    
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/food-view.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>






  <!--our team-->




<div class="pt-5 pb-5 text-wrapper">
  <h1 class="display-5 fw-bold text-center text-body-emphasis lh-1 mb-3">Our Team</h1>
                            
</div>


<!--names of employees-->
    
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="static/michele.png">
          </div>
          <div class="team-content">
            <h3 class="name">Michele Miller</h3>
            <h4 class="title">Marketting Manager</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="static/Patricia.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Patricia Knott</h3>
            <h4 class="title">Head Accountant</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="static\lana.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Lana Watson</h3>
            <h4 class="title">Managing Director</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="static/head chef.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Mary Huntley</h3>
            <h4 class="title">Head Chef</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



<!--store locations-->

<div class="pt-5 pb-5 text-wrapper">
  <h1 class="display-5 fw-bold text-center text-body-emphasis lh-1 mb-3">Our Shops</h1>
                            
</div>

<section class="articles py-4" id="ourshop">
  
  <article>
    <div class="article-wrapper" id="karachi" >
      <figure>
        <img src="static/karachi.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Karachi Branch</h2>
        <p>
          Experience the vibrant spirit of Karachi at Joyful Bites, where every dessert tells a story of culinary artistry. Our Karachi branch, amidst the city’s bustling energy, offers a paradise of sweet creations, inviting you to a delightful journey in Pakistan’s bustling metropolis, a haven for dessert aficionados. 
        </p>
        <a href="#" class="read-more">
          visit location <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper" id="lahore">
      <figure>
        <img src="static/lahore.jfif" alt="" />
      </figure>
      <div class="article-body">
        <h2>Lahore Branch</h2>
        <p>
          Step into Joyful Bites, Lahore’s enchanting dessert oasis, where tradition meets temptation in a symphony of sweet delights. Nestled in the heart of this historic city, our Lahore branch invites you to savor the essence of joy in every indulgent bite, amidst the vibrant culture that thrives in Pakistan’s culinary capital.  
        </p>
        <a href="#" class="read-more">
          visit location <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper" id="islamabad">
      <figure>
        <img src="static/Islamabad.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Islamabad Branch</h2>
        <p>
          Welcome to Joyful Bites, where Islamabad’s serene beauty meets the ultimate dessert experience. In the city of majestic mountains and tranquil greenery, our Islamabad branch offers a haven of exquisite sweets that promise to enchant your senses and elevate your spirit with every delightful morsel.
        </p>
        <a href="#" class="read-more">
          visit location <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>




  <!--review comments-->
  
  <div class="pt-5 pb-5 text-wrapper">
    <h1 class="display-5 fw-bold text-center text-body-emphasis lh-1 mb-3">Review Corner</h1>
                              
  </div>


  <div class="outerdiv">
    
    <div class="innerdiv">
      <!-- div1 -->
      <div class="div1 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name">Daniel Clifford</p>
            <p class="designation">Verified Graduate</p>
          </div>
        </div>
        <div class="review">
          <h4>I received a job offer mid-course, and the subjects I learned were current, if not more so, in the company I joined. I honestly feel I got every penny’s worth.</h4>
        <p>“ I was an EMT for many years before I joined the bootcamp. I’ve been looking to make a transition and have heard some people who had an amazing experience here. I signed up for the free intro course and found it incredibly fun! I enrolled shortly thereafter. The next 12 weeks was the best - and most grueling - time of my life. Since completing the course, I’ve successfully switched careers, working as a Software Engineer at a VR startup. ”</p>
        </div>
      </div>
      <!-- div2 -->
      <div class="div2 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name">Jonathan Walters</p>
            <p class="designation">Verified Graduate</p>
          </div>
        </div>
        <div class="review">
          <h4>The team was very supportive and kept me motivated</h4>
        <p>“ I started as a total newbie with virtually no coding skills. I now work as a mobile engineer for a big company. This was one of the best investments I’ve made in myself. ”</p>
        </div>
      </div>
      <!-- div3 -->
      <div class="div3 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name dark">Kira Whittle</p>
            <p class="designation dark">Verified Graduate</p>
          </div>
        </div>
        <div class="review dark">
          <h4>Such a life-changing experience. Highly recommended!</h4>
          <p>“ Before joining the bootcamp, I’ve never written a line of code. I needed some structure from professionals who can help me learn programming step by step. I was encouraged to enroll by a former student of theirs who can only say wonderful things about the program. The entire curriculum and staff did not disappoint. They were very hands-on and I never had to wait long for assistance. The agile team project, in particular, was outstanding. It took my learning to the next level in a way that no tutorial could ever have. In fact, I’ve often referred to it during interviews as an example of experience. It certainly helped me land a job as a full-stack 100% recommend! ”</p>
        </div>
      </div>
      <!-- div4 -->
      <div class="div4 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jeanette.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name dark">Jeanette Harmon</p>
            <p class="designation dark">Verified Graduate</p>
          </div>
        </div>
        <div class="review dark">
          <h4>An overall wonderful and rewarding experience</h4>
        <p>“ Thank you for the wonderful experience! I now have a job I really enjoy, and make a good living while doing something I love. ”</p>
        </div>
      </div>
      <!-- div5 -->
      <div class="div5 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-patrick.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name">Patrick Abrams</p>
            <p class="designation">Verified Graduate</p>
          </div>
        </div>
        <div class="review">
          <h4>Awesome teaching support from TAs who did the bootcamp themselves. Getting guidance from them and learning from their experiences was easy.</h4>
        <p>“ The staff seem genuinely concerned about my progress which I find really refreshing. The program gave me the confidence necessary to be able to go out in the world and present myself as a capable junior developer. The standard is above the rest. You will get the personal attention you need from an incredible community of smart and amazing people. ”</p>
        </div>
      </div>
    </div>
  </div>




  

  







{% endblock body%}